<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
    <link rel="shortcut icon" type="image/x-icon" href="{{ asset('f.ico') }}">
    {% block stylesheets %}{% endblock %}
</head>
<body>
{% for flashMessage in app.flashes('success-sent') %}
    <div class="alert-success">
        {{ flashMessage }}
    </div>
{% endfor %}
{% block body %}{% endblock %} {% block javascripts %}{% endblock %}
</body>
</html>
